flask==2.2.5
transformers==4.30.2
tokenizers==0.13.3
torch==2.0.1
datasets==2.18.0
pandas==2.2.2
scikit-learn==1.4.2
seqeval==1.2.2
layoutparser==0.3.4
python-dotenv==1.0.1
tqdm==4.66.2
numpy<2.0
accelerate>=0.21.0
Pillow==9.5.0
